@import "../../styles/constants.scss";

.selectfloor {
  .container {
    display: flex;
    height: 100%;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    /* Andar */
    .floor {
      height: 450px;
      width: 500px;
      margin: 0px 5px;
      overflow-y: auto;
      overflow-x: hidden;
      &::-webkit-scrollbar {
        position: absolute;
        width: 5px;
      }
      &::-webkit-scrollbar-track {
        border-radius: 10px;
      }
      &::-webkit-scrollbar-thumb {
        background: white;
        border: none;
        border-radius: 10px;
      }
      &::-webkit-scrollbar-thumb:hover {
        background: lightgray;
      }
      .btn {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 50px;
        font-weight: bold;
        height: 120px;
        width: 480px;
        margin: 5px;
        border-radius: 10px;
        background-color: $alaranjado;
        user-select: none;
        &:hover {
          filter: brightness(80%);
        }
      }
    }

    /* Edficio */
    .building {
      height: 450px;
      width: 500px;
      margin: 0px 5px;
      overflow-y: auto;
      overflow-x: hidden;
      &::-webkit-scrollbar {
        position: absolute;
        width: 5px;
      }
      &::-webkit-scrollbar-track {
        border-radius: 10px;
      }
      &::-webkit-scrollbar-thumb {
        background: white;
        border: none;
        border-radius: 10px;
      }
      &::-webkit-scrollbar-thumb:hover {
        background: lightgray;
      }
    }

    @media screen and (max-width: 1023px) {
      flex-direction: column;
      .btn {
        max-width: 300px;
      }
      .floor {
        max-width: 320px;
      }
      .building {
        max-width: 320px;
      }
    }
  }
}
